/* Use your own code or past solution for Great Idea Web Page CSS here! */

.container {
    max-width: 876px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
    
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

@media(max-width:800px) {
    header nav {
        order: 1;
    }
}

@media(max-width:500px) {
    header nav {
        flex-direction: column;
        line-height: 4rem;
    }
}

nav a {
    text-decoration: none;
    color: grey;
}

@media(max-width:500px) {
    nav a {
        border-top:    1px solid black;
        border-right:  1px solid black; 
        border-left: 1px solid black;
        align-self:stretch;
        text-align:center;
    }
    
    nav a:last-child {
        border-bottom: 1px solid black;
    }
    
    
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

@media (max-width: 800px) {
    .top {
        justify-content: center;
    }
}

.innovation {
    text-align: center;
    font-size: 45px;
    margin: 0 30px;
}

.innovation h1 {
    margin-bottom: 0px;
}

@media(max-width:500px) {
    .innovation h1 {
    margin-top: 0px;
    }
}

.innovation button {
    padding: 5px 20px;    
}

.code {
    margin-top: 50px;
}

@media(max-width: 800px) {
    .code {
        display: none;
    }
}

.main-top {
    border-top: 2px solid black;
    margin-top: 40px;
}

.main-top {
    display: flex;
}

@media(max-width: 500px) {
    .main-top {
        flex-direction: column;
    }
    
    .box {
        margin: 20px;
    }
}
.main-bottom {
    display: flex;
    border-bottom: 2px solid;
}
    
@media(max-width: 500px) {
    .main-bottom {
        flex-direction: column;
    }    
}
address {
    font-style: normal;
}

.copyright {
    text-align: center;
}